include head.pug 

main
    section.page-name
        h1.page-name__title Ошибка 404. Такой страницы не существует.
        .page-name__decoration-1
        .page-name__decoration-2
        .page-name__i-round-1
        .page-name__i-round-2.
            
            
        .page-name__i-round-3.

    section.content
        .content__inner
            .text-block.margin-bottom-md-30
                h2.title 
                    a(href="/") Перейти на Главную страницу

    


include footer.pug