include head.pug 


main
  section.page-name
    h1.page-name__title Подача материалов
    h3.page-name__conference Конференция
    .page-name__decoration-1
    .page-name__decoration-2
      .page-name__i-round-1
      .page-name__i-round-2.
        
        
      .page-name__i-round-3.
        
        
  section.content.section-with-form
    .content__inner
      .text-block.margin-bottom-45
        h2.title Форма подачи материалов
        p.text.margin-v-15
          span.note-star *
          | Чтобы подать материал, заполните форму
      .form-container
        form.form.f-send-materials(action='/tech/send-mail', method="post" enctype='multipart/form-data')
          input(type="hidden", name="subject" value="Подача материалов")
          .input-o-w.fio-wrap
            label(for='surname')
              | Фамилия
              span.note-star *
            .input-i-w
              input.input#surname(type='text', name='Фамилия', required, placeholder='Фамилия')
          .input-o-w.fio-wrap
            label(for='name')
              | Имя
              span.note-star *
            .input-i-w
              input.input#name(type='text', name='Имя', required, placeholder='Имя')
          .input-o-w.fio-wrap
            label(for='patronymic') Отчество
            .input-i-w
              input.input#patronymic(type='text', name='Отчество', placeholder='Отчество')
          .input-o-w
            label(for='organization')
              | Организация
              span.note-star *
            .input-i-w
              input.input#organization(type='text', name='Организация', placeholder='Организация', required)
          .input-o-w
            label(for='email')
              | Электронная почта
              span.note-star *
            .input-i-w
              input.input#email(type='email', name='Email', placeholder='Электронная почта', required)
          .input-o-w
            label(for='app-num') Номер заявки
            .input-i-w
              input.input#app-num(type='text', name='Номер заявки', placeholder='Номер заявки')
          .input-o-w
            label(for='app-file')
              span.note-star *
              | Прикрепите файл (WORD)
            .input-i-w
              .input.file-input-name
                .add-file
                  div
                  div
                input.file-input#app-file(type='file', name='file', accept='.doc, .docx')
          .approve-block
            label.easyCheckbox(for='approve')
              input.easyCheckbox__hidden-checkbox#approve(type='checkbox', name='Согласие с обработкой данных')
              .easyCheckbox__visible-checkbox.easyCheckbox__square
              p.easyCheckbox__text
                | Отправляя форму я соглашаюсь с 
                a(href='#') политикой безопасности
                |  и соглашаюсь на 
                a(href='#') обработку персональных данных
          .sendform-btn--block
            button.sendform-btn.
              
              Отправить
              
    .form-decoration
      img(src='/assets/img/4561.png', alt)


include footer.pug