include head.pug
main
  section.page-name
    h1.page-name__title Подача заявок
    h3.page-name__conference Конференция
    .page-name__decoration-1
    .page-name__decoration-2
      .page-name__i-round-1
      .page-name__i-round-2.
        
        
      .page-name__i-round-3.


  //- form(action="/tech/send-mail", method="post" enctype="multipart/form-data")
  //-   input(type="text", name='Имя' placeholder='Name')
  //-   input(type="tel", name='Телефон' placeholder='Phone')
  //-   input(type="file", name="file")
  //-   input(type="file", name="file2")
  //-   button(type="submit") Отправить
        
        
  section.content.section-with-form
    .content__inner
      .text-block.margin-bottom-45
        h2.title Форма подачи заявок
        p.text.margin-v-15
          span.note-star *
          | Чтобы принять участие, заполните форму
      .form-container
        form.form.f-send-materials(action='/tech/send-mail', method="post" enctype="multipart/form-data")
          input(type="hidden", name="subject" value="Подача заявок")
          .input-o-w.fio-wrap
            label(for='surname')
              | Фамилия
              span.note-star *
            .input-i-w
              input.input#surname(type='text', name='Фамилия', required, placeholder='Фамилия')
          .input-o-w.fio-wrap
            label(for='name')
              | Имя
              span.note-star *
            .input-i-w
              input.input#name(type='text', name='Имя', required, placeholder='Имя')
          .input-o-w.fio-wrap
            label(for='patronymic') Отчество
            .input-i-w
              input.input#patronymic(type='text', name='Отчество', placeholder='Отчество')
          .input-o-w
            label(for='organization')
              | Организация
              span.note-star *
            .input-i-w
              input.input#organization(type='text', name='Организация', placeholder='Организация', required)
          .input-o-w
            label(for='email')
              | Электронная почта
              span.note-star *
            .input-i-w
              input.input#email(type='email', name='Email', placeholder='Электронная почта', required)
          .input-o-w
            label(for='post')
              | Должность
              span.note-star *
            .input-i-w
              input.input#post(type='text', name='Должность', placeholder='Должность', required)
          .input-o-w
            label(for='work-name')
              | Название работы
              span.note-star *
            .input-i-w
              input.input#work-name(type='text', name='Название работы', placeholder='Название работы', required)
          .input-o-w
            label(for='annotation')
              | Аннотация
              span.note-star *
            .input-i-w
              input.input#annotation(type='text', name='Аннотация', placeholder='Аннотация')
          .input-o-w
            label(for='section-name-1')
              | Секция
              span.note-star *
            .input-i-w
              .easySelect
                .easySelect__vis-value
                  .easySelect__cur-value(data-value).
                    Секция
                  input.easySelect__hide-input(type='text', name='Секция')
                  .easySelect__arrow
                    svg(width='21', height='13', viewBox='0 0 21 13', fill='none', xmlns='http://www.w3.org/2000/svg')
                      path(d='M1 1L11 12L20.5 1', stroke='#0C44AC')
                ul.easySelect__options-list(data-state='rolled', data-hide_checked='false')
                  li.easySelect__option(data-value='Методы снижения шума') Методы снижения шума и вредных выбросов при проектировании высокоскоростных летательных аппаратов
                  li.easySelect__option(data-value='Общие вопросы аэродинамики') Общие вопросы аэродинамики и проектирования летательных аппаратов нового поколения
                  li.easySelect__option(data-value='Методы проектирования') Методы проектирования силовых установок
                  li.easySelect__option(data-value='Конструкция, прочность, новые материалы') Конструкция, прочность, новые материалы
                  li.easySelect__option(data-value='Искусственный интеллект') Искусственный интеллект, интеграция авионики
                  li.easySelect__option(data-value='Сертификация воздушных судов') Сертификация воздушных судов нового поколения
          .input-o-w
            label(for='expert-opinion')
              span.note-star *
              | Экспертное заключение (PDF)
            .input-i-w
              .input.file-input-name
                .add-file
                  div
                  div
                input.file-input#expert-opinion(type='file', name='file', accept='.pdf')
          .input-o-w
            label(for='theses')
              span.note-star *
              | Тезисы доклада (WORD)
            .input-i-w
              .input.file-input-name
                .add-file
                  div
                  div
                input.file-input#theses(type='file', name='file2', accept='.doc, .docx')
          .input-o-w
            label(for='f-participation')
              span.note-star *
              | Форма участия
            .input-i-w
              .radio-wrap
                label.easyRadio(for='f-participation-rb-1')
                  input#f-participation-rb-1.easyRadio__hidden-radio(type='radio', name='Форма участия', value='Очно', checked)
                  .easyRadio__visible-radio.easyRadio__round
                  p.easyRadio__text Очно
                label.easyRadio(for='f-participation-rb-2')
                  input#f-participation-rb-2.easyRadio__hidden-radio(type='radio', name='Форма участия', value='Дистанционно')
                  .easyRadio__visible-radio.easyRadio__round
                  p.easyRadio__text Дистанционно
          .input-o-w
            label(for='scopus-pub-1')
              span.note-star *
              | Публикация Scopus
            .input-i-w
              .radio-wrap
                label.easyRadio(for='scopus-pub-1')
                  input#scopus-pub-1.easyRadio__hidden-radio(type='radio', name='Публикация Scopus', value='Да', checked)
                  .easyRadio__visible-radio.easyRadio__round
                  p.easyRadio__text Да
                label.easyRadio(for='scopus-pub-2')
                  input#scopus-pub-2.easyRadio__hidden-radio(type='radio', name='Публикация Scopus', value='Нет')
                  .easyRadio__visible-radio.easyRadio__round
                  p.easyRadio__text Нет
          .approve-block
            label.easyCheckbox(for='approve')
              input.easyCheckbox__hidden-checkbox#approve(type='checkbox', name='Согласие с обработкой данных')
              .easyCheckbox__visible-checkbox.easyCheckbox__square
              p.easyCheckbox__text
                | Отправляя форму я соглашаюсь с 
                a(href='#') политикой безопасности
                |  и соглашаюсь на 
                a(href='#') обработку персональных данных
          .sendform-btn--block
            button.sendform-btn.
              
              Отправить
              
    .form-decoration
      img(src='/assets/img/4561.png', alt)
include footer.pug